* {
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

@media screen and (max-width: 600px) {
.column.side, .column.middle {
  width: 100%;
  }
}

body {
  margin: 20px;
}

/* Styles for the Heading*/
.heading {
  text-align: center;
  background-color: 	#D8D8D8;
  padding: 20px;
}

#Logo{
  width: 120px;
  float: left;
}

/* Navigation Bar*/
.navbar {
  padding: 10px;
  background-color: 	#888888;
  border: 2px solid teal;
}

.navbar a{
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/*Columns*/
.column {
  float: left;
  padding: 10px;
  background-color: steelblue;
  border: 2px solid tomato;
}

.column.side {
  width: 25%

}

.column.middle {
  width: 75%;
  height: 70%;
}

.footer {
 padding: 10px;
 
}
.boxed {
  background-color: teal; 
  text-align: center; 
}