* {
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

.heading {
  text-align: center;

}

.side {
  background-color: steelblue;
}

.Middle.Column {
    background-color: seashell;
  }

.Top.navbar {
  background-color: magenta;
  border: 2px solid tomato;
  /*This border works*/
}
